@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
}

main {
    width: 100%;
    min-height: 100vh; /* Ensures it fills the viewport height */
}


@font-face {
    font-family: 'SequelSansBold';
    src: url('/fonts/Sequel%20Sans%20Bold%20Disp.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

